<header class="header">
  <div class="header__container container">
    <a href="#" class="header__logo-link" aria-label="На главную">
      <img src="img/logo.svg" alt="Профсервис" class="header__logo" />
    </a>

    <div class="header__menu">
      <div class="header__menu-overlay only-tablet"></div>
      <div class="header__menu-inner">
      <button class="header__menu-close-btn only-tablet">
        <svg><use xlink:href="img/sprite.svg#close"></use></svg>
      </button>
      <img src="img/logo.svg" alt="Профсервис" class="header__logo only-tablet" />
        <nav class="header__nav">
          <ul class="header__nav-list">
            <li class="header__nav-item">
              <a href="#1" class="header__nav-link">Услуги</a>
            </li>
            <li class="header__nav-item">
              <a href="#" class="header__nav-link">Оплата</a>
            </li>
            <li class="header__nav-item">
              <a href="#" class="header__nav-link">О компании</a>
            </li>
            <li class="header__nav-item">
              <a href="#" class="header__nav-link">Контакты</a>
            </li>
          </ul>
        </nav>

        <a href="#service-request" class="header__button button">Оставить заявку</a>
      </div>
    </div>

    <button
      class="header__nav-button only-tablet"
      type="button"
      aria-label="Показать/скрыть меню"
    >
      <svg><use xlink:href="./img/sprite.svg#menu-icon"></use></svg>
    </button>
  </div>
</header>
