.service-form {
  padding: 60px;
  background-color: $white;
  border-radius: 24px;

  @include tablet {
    padding: 40px;
  }

  @include mobile {
    padding: 32px 16px;
  }

  &__title {
    @include h2;
    margin: 0 0 16px;
    text-align: center;

    span {
      color: $primary;
    }

    @include tablet {
      font-size: 36px;
      line-height: 120%;
      max-width: 502px;
      margin-left: auto;
      margin-right: auto;
    }

    @include mobile {
      font-size: 24px;
    }
  }

  &__subtitle {
    font-size: 18px;
    line-height: 120%;
    font-weight: 600;
    margin: 0 0 16px;
    text-align: center;

    @include mobile {
      font-size: 14px;
      margin-bottom: 8px;
    }
  }

  &__desc {
    @include b1;
    color: $text-grey;
    margin: 0 0 40px;
    text-align: center;

    @include tablet {
      max-width: 502px;
      margin-left: auto;
      margin-right: auto;
    }

    @include mobile {
      font-size: 13px;
      margin: 0 auto 32px;
    }
  }

  &__inner {

    & > *:not(.service-form__title):not(.service-form__desc):not(.service-form__subtitle) {
      margin-bottom: 16px;
    }
  }

  &__submit {
    width: 100%;
  }

  &__policy {
    @include b2;
    margin: 0;
    text-align: center;

    a {
      color: $primary;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__icon {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto 40px;
    background-repeat: no-repeat;
    background-position: center;

    &.success {
      background-color: $primary;
      background-image: url('data:image/svg+xml;utf8,<svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M43.1428 14.2148L19.5714 37.7863L8.85712 27.072" stroke="white" stroke-width="3.21429" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    }

    &.pending {
      background-color: $text-grey;
      background-image: url('data:image/svg+xml;utf8,<svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.946 25.998L9.12442 30.8196L4.30286 25.998" stroke="white" stroke-width="3.21438" stroke-linecap="round" stroke-linejoin="round"/><path d="M9.12441 25.998C9.12441 27.4852 9.30871 28.9253 9.628 30.316" stroke="white" stroke-width="3.21438" stroke-linecap="round" stroke-linejoin="round"/><path d="M47.6969 25.9982C47.6969 15.3457 39.0631 6.71191 28.4106 6.71191C17.7582 6.71191 9.12439 15.3457 9.12439 25.9982" stroke="white" stroke-width="3.21438" stroke-linecap="round" stroke-linejoin="round"/><path d="M28.4106 45.2843C39.0631 45.2843 47.6969 36.6505 47.6969 25.998" stroke="white" stroke-width="3.21438" stroke-linecap="round" stroke-linejoin="round"/><path d="M12.6152 37.0459C16.1018 42.0239 21.8705 45.2854 28.4107 45.2854" stroke="white" stroke-width="3.21438" stroke-linecap="round" stroke-linejoin="round"/><path d="M35.6344 32.1516L27.8085 27.4951V17.3955" stroke="white" stroke-width="3.21438" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    }

    &.failed {
      background-color: #FF5934;
      background-image: url('data:image/svg+xml;utf8,<svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.9997 10.9961L41.0007 40.9971" stroke="white" stroke-width="3.2144" stroke-linecap="round" stroke-linejoin="round"/><path d="M41.0007 10.9961L10.9997 40.9971" stroke="white" stroke-width="3.2144" stroke-linecap="round" stroke-linejoin="round"/></svg>');
    }

    @include mobile {
      width: 80px;
      height: 80px;
      background-size: 34px 34px;
      margin-bottom: 32px;
    }
  }

  &__link {
    width: 100%;
  }
}
