<h3>Кнопка ".button"</h3>
<button class="button">Button</button>
<br />
<button class="button" disabled>Button</button>
<br />
<br />
<!-- <h3>Кнопка ".button-secondary"</h3>
<button class="button-secondary">Button</button>
<br />
<button class="button-secondary" disabled>Button</button>
<br />
<br />
<h3>Кнопка ".button-arrow"</h3>
<button class="button-arrow">
  Button
  <svg><use xlink:href="./img/sprite.svg#chevron-right"></use></svg>
</button>
<br />
<button class="button-arrow" disabled>
  Button
  <svg><use xlink:href="./img/sprite.svg#chevron-right"></use></svg>
</button> -->
