//ШРИФТЫ
$font: 'Rubik', 'Arial', serif;

//Разрешения
$mobile: 376px;
$tablet: 768px;
$desktop-m: 1024px;
$desktop: 1224px;
$desktop-large: 1424px;

$desktop-large-gap: 40px;
$desktop-gap: 32px;
$tablet-gap: 60px;
$mobile-gap: 16px;

//Цвета
$main-text: #101111;
$text-grey: #6C7684;
$white: #ffffff;
$grey200: #F5F6F7;
$grey250: #e6e6ef;
$grey300: #d1d8e1;
$grey400: #6c7684;

$primary: #14CF93;
// $success: #1ed77e;
$fail: #FD3C2F;
// $warning: #ff9900;
// $warning2: #fdd74f;
// $additional: #292929;
$additional2: #12be87;
$bg: #F5F6F7;

// $gradient1-start: #5ea9ff;
// $gradient1-end: #d5d3ff;
// $gradient2-start: #ffa3b9;
// $gradient2-end: #ffe4aa;
// $gradient3-start: #71d6c8;
// $gradient3-end: #ffdecb;
// $gradient4-start: #7bbaff;
// $gradient4-end: #ceeede;
// $gradient5-start: #a0b1ff;
// $gradient5-end: #ffdcd6;
// $gradient6-start: #ff9986;
// $gradient6-end: #ffdcd6;
// $gradient7-start: #7bbaff;
// $gradient7-end: #ffdecb;

// $midea: #00a1ed;
// $midea-hover: #1fb8ff;
// $daikin: #0097e0;
// $daikin-hover: #0aadff;
// $kentatsu: #f32424;
// $kentatsu-hover: #f65151;
// $bosch: #007bc0;
// $bosch-hover: #009bf5;
// $axioma: #30aeea;
// $axioma-hover: #58bfee;
// $airwave: #3bd0fe;
// $airwave-hover: #71ddfe;
// $ecoletta: #61a60e;
// $ecoletta-hover: #7ace12;
// $primera: #00964d;
// $primera-hover: #00cc69;
// $aurum: #c29742;
// $aurum-hover: #cdaa65;
// $white: #ffffff;
// $grey200: #f4f4f8;
// $grey250: #e6e6ef;
// $grey300: #d1d8e1;
// $grey400: #94a0b1;
// $success: #1ed77e;
// $fail: #f25248;
// $warning: #ff9900;
// $warning2: #fdd74f;
// $additional: #aad2ff;
// $additional2: #e7f2ff;
